.flip-enter > div:first-child {
  transform: rotateY(-180deg);
  opacity: 0;
  z-index: -1;
}
.flip-enter > div:last-child {
  transform: rotateY(0deg);
  margin-top: -154.3%;
  opacity: 1;
  z-index: 1;
}
.flip-enter.flip-enter-active > div:first-child {
  transform: rotateY(0deg);
  opacity: 1;
  transition: transform 350ms ease-out, opacity 350ms ease-out;
  z-index: 1;
}
.flip-enter.flip-enter-active > div:last-child {
  transform: rotateY(180deg);
  margin-top: -154.3%;
  opacity: 0;
  transition: transform 350ms ease-out, opacity 350ms ease-out;
  z-index: -1;
}
.flip-exit > div:first-child {
  transform: rotateY(0deg);
  opacity: 1;
  z-index: 1;
}
.flip-exit > div:last-child {
  transform: rotateY(180deg);
  margin-top: -154.3%;
  opacity: 0;
  z-index: -1;
}
.flip-exit.flip-exit-active > div:first-child {
  transform: rotateY(180deg);
  opacity: 1;
  transition: transform 350ms ease-out, opacity 350ms ease-out;
  z-index: 1;
}
.flip-exit.flip-exit-active > div:last-child {
  transform: rotateY(360deg);
  margin-top: -154.3%;
  opacity: 0;
  transition: transform 350ms ease-out, opacity 350ms ease-out;
  z-index: -1;
}
